.filter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  min-width: 320px;

  background-color: $white;
}

.filter__form {
  display: none;
}

.filter__form--active {
  display: block;
}

.filter--active {
  display: block;
}

.filter__header {
  display: flex;
  flex-direction: row;

  padding: 21.5px 4.7% 19.5px;

  border-bottom: 2px solid $lightgrey;

  .filter__button--reset {
    order: -1;
  }
}

.filter__title {
  margin: 0 auto;
  padding: 0 20px;

  font-size: 18px;

  @include bold;
}

.filter__button {
  flex-shrink: 0;
  min-width: 60px;
  padding: 0;

  font-size: 14px;

  background-color: $white;

  border: 0;
  cursor: pointer;

  &--reset {
    text-align: left;
  }

  &--close {
    text-align: right;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.filter__list {
  min-height: 248px;

  @include reset-list;
}

.filter__item {
  padding: 0 4.7%;

  border-bottom: 2px solid $lightgrey;

  &--active {
    .filter__subject::after {
      right: 0;

      transform: rotate(-135deg);
    }

    .filter__content {
      max-height: 10rem;

      visibility: visible;
    }
  }
}

.filter__subject {
  position: relative;

  display: block;
  padding: 14.5px 0 12.5px;

  font-size: 16px;

  cursor: pointer;

  &::after {
    position: absolute;
    top: 50%;
    right: 10px;

    display: block;
    width: 10px;
    height: 10px;

    border: solid $black;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg) translateY(-100%);

    transition: 300ms;

    content: "";
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.filter__content {
  max-height: 0;

  margin: 0;
  padding: 0;
  overflow: hidden;

  border: 0;
  visibility: hidden;

  transition: all 300ms;
}

.filter__range {
  padding-top: 16px;
  padding-bottom: 45px;
}

.filter__range-wrapper {
  position: relative;
}

.filter__range-scale {
  height: 2px;

  background-color: $lightgrey;
}

.filter__range-bar {
  height: 100%;

  background-color: $black;
}

.filter__range-handle {
  position: absolute;
  top: -7px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__range-marker {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;

  background-color: $black;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.filter__range-output {
  display: block;

  font-size: 14px;
  @include bold;

  &::before {
    content: "$ ";
  }
}

.filter__colors {
  display: flex;
  margin: 0;
  padding: 12px 0 26px 3px;

  list-style: none;
}

.filter__color {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.filter__color-pic {
  display: block;
  width: 16px;
  height: 16px;

  cursor: pointer;

  span {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;

    border-radius: 50%;

    @include interaction(-10px);

    @each $name, $value in $filter-colors {
      &.#{$name} {
        background-color: $value;
      }
    }

    &::after {
      position: absolute;
      top: -3px;
      left: -3px;

      width: 20px;
      height: 20px;

      background-color: transparent;
      border-radius: 50%;

      content: "";
    }
  }
}

.filter__color-input:checked + .filter__color-pic span {
  @each $name, $value in $filter-colors {
    &.#{$name}::after {
      border-color: $value;
    }
  }
  &::after {
    border-style: solid;
    border-width: 1px;
  }
}

.filter__collections {
  display: flex;
  margin: 0;
  padding: 6px 0 20px;

  list-style: none;
}

.filter__collection {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.filter__collection-category {
  display: block;

  cursor: pointer;

  span {
    display: block;

    color: $grey;
    font-size: 14px;
  }
}

.filter__collection-input:checked + .filter__collection-category span {
  color: $black;
}

.filter__footer {
  padding: 50px 4.7% 25px 4.7%;

  .filter__button--reset {
    display: none;
  }
}

.filter__apply {
  width: 290px;
  margin: 0 auto;
}
