.header {
  position: relative;

  min-width: 320px;

  background-color: $white;
}

.header--index {
  background-color: $bg-light;

  overflow-x: hidden;
}

.header__logo {
  flex-shrink: 0;
  margin: 0 auto;
}

.header__logo--index {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 57px;
  margin-bottom: 10px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      @include line(57px, $white);
    }
  }
}

.header__navbar {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.header__navbar--index {
  position: relative;

  margin-top: 67px;
  margin-bottom: 20px;

  background-color: $bg-light;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.header__navbar--inner {
  min-height: 67px;

  background-color: $white;
}

.header__nav--inner {
  order: -1;
  flex-grow: 1;
  width: 30%;
}

.header__user-nav--index {
  flex-grow: 1;
  width: 30%;
  margin-left: auto;
}

.main {
  height: 400px;
  background-color: grey;
}
