.header {
  position: relative;

  min-width: 320px;

  background-color: $white;
}

.header__wrapper {
  @include container;
}

.header__navbar {
  display: flex;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  padding: 0 20px;
}

.header--index {
  background-color: $bg-light;

  overflow-x: hidden;

  .header__navbar {
    min-height: 80px;
    padding-bottom: 10px;
  }

  .header__logo {
    position: relative;

    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    height: 57px;

    background-color: $white;

    @include line(57px, $white);
  }

  .header__user-nav {
    margin-left: auto;
  }
}

.header--inner {
  .header__navbar {
    min-height: 67px;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__nav {
    order: -1;
  }
}

.main {
  height: 200px;
  background-color: grey;
}
