.overlay {
  @media (max-width: $mobile-width-only) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100%;
    height: 100%;

    background-color: transparent;
    visibility: hidden;
    opacity: 0;
  }
}

.overlay--active {
  @media (max-width: $mobile-width-only) {
    visibility: visible;
    opacity: 1;
  }
}
