.header {
  position: relative;

  min-width: 320px;

  background-color: $white;
}

.header__logo {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
}

.header__navbar {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 67px;

  &::after {
    //for IE
    display: block;
    min-height: inherit;

    font-size: 0;

    content: "";
  }
}

.header__nav,
.header__user-nav {
  width: calc(50% - 53px);
}

.header__nav {
  margin-right: auto;
}

.main {
  height: 400px;

  background-color: #9cee90;
}
