.nav__toggle--close {
  display: none;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  @include reset-list;
}

.nav__item {
  margin-right: 25px;

  &--active {
    .nav__category {
      opacity: 0.5;
    }
  }
}

.nav__item:hover > .nav__sub,
.nav__sub:hover {
  display: flex;
  height: auto;

  opacity: 1;

  transition: 0.4s;
}

.nav__category {
  display: block;
  padding: 10px 0;

  color: $text-dark;

  font-size: 16px;
  line-height: 30px;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.nav__sub {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  flex-wrap: wrap;
  height: 0;
  padding-bottom: 10px;

  background-color: $white;

  opacity: 0;

  transition: 0.4s;
  @include reset-list;
}

.nav__sub--active {
  opacity: 1;

  transition: 0.4s;
}

.nav__sub-item {
  &--active {
    .nav__sub-link {
      color: $text-dark;
    }
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.nav__sub-link {
  display: block;
  padding: 4px 0 10px;

  color: $text-light;

  font-size: 14px;
  line-height: 18px;

  &[href] {
    &:hover,
    &:active,
    &:focus {
      color: $text-dark;
    }
  }
}

.nav--index {
  .nav__sub {
    background-color: $bg-light;
  }
}

.nav--inner {
  .nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .nav--active {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;

    width: 100%;

    min-width: 320px;

    overflow: hidden;

    background-color: $white;

    .nav__wrapper {
      width: 90%;
      min-width: 290px;
      margin: 0 auto;
    }

    .nav__header {
      position: relative;

      display: flex;
      align-items: center;
      min-height: 63px;

      &::before {
        bottom: 0;
        @include line(2px, $lightgrey);
      }
    }

    .nav__title {
      display: block;
      margin: 0;
      margin-left: 50%;

      font-size: 18px;

      transform: translateX(-50%);

      @include bold;
    }

    .nav__toggle {
      position: static;

      width: auto;
      height: auto;
      margin-left: auto;

      &::before {
        display: none;
      }
    }

    .nav__toggle--close {
      display: block;

      font-size: 14px;
    }

    .nav__list {
      display: block;
    }

    .nav__item {
      position: relative;

      margin: 0;

      border-bottom: 2px solid $lightgrey;

      &::before {
        bottom: -2px;
        @include line(2px, $lightgrey);
      }

      &--dropdown {
        .nav__category {
          position: relative;

          &::before {
            @include arrow;
          }
        }
      }

      &--active {
        .nav__category {
          opacity: 1;

          &::before {
            transform: rotate(-135deg);
          }
        }
      }
    }

    .nav__category {
      display: block;
      padding: 7.5px 0 7.5px;

      &:hover,
      &:active {
        opacity: 1;
      }
    }

    .nav__sub {
      position: static;
    }
  }
}
