@mixin regular {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 400;
}

@mixin medium {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 500;
}

@mixin bold {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 700;
}

@mixin extrabold {
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: 800;
}

@mixin container {
  min-width: 290px;
  width: 90%;
  margin: 0 auto;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin interaction($size) {
  &::before {
    content: "";

    position: absolute;
    top: $size;
    right: $size;
    bottom: $size;
    left: $size;
  }
}

@mixin line($height, $color) {
  &::before,
  &::after {
    content: "";

    position: absolute;

    width: 100vw;
    height: $height;

    background-color: $color;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

@mixin arrow {
  &::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 2px;

    display: block;
    width: 10px;
    height: 10px;
    margin-top: -10px;

    border: solid $black;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);
    transform-origin: 50% 50% 0;

    transition: all 500ms;
  }
}

@mixin arrow-top {
  &::before {
    margin-top: 0;

    transform: rotate(-135deg);
  }
}
