//breakpoints
$tablet-width: 768px;
$desktop-width: 1366px;

$mobile-width-only: 767px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//colors
$white: #ffffff;
$black: #151c22;
$lightgrey: #f1f2f4;
$grey: #727a82;

$text-dark: $black;
$text-light: $grey;
$text-white: $white;

$filter-colors: (
  bluegrey: #b0c3c7,
  darkblue: #3b6392,
  grey: #bfc3c8,
  black: #2d2e2e,
  lightgrey: #ececec,
  blue: #4193da
);
